/* Card style */
.card {
    width: 250px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 12px;
    box-shadow: 2px 2px 10px gray;
    text-align: center;
}

/* Image */
img {
    width: 100px;
    border-radius: 50%;
}

/* Button */
.btn {
    background-color: blue;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}
